#inspect-progress {
  float: right;
  margin: 5px;
  -webkit-transition: all 200ms;
}

#type {
  font-family: monospace;
  width: 23%;
  height: auto;
  float: left;
}

#replay-since {
  width: 30%;
  margin-left: 10px;
  font-family: monospace;
}

#target {
  width: 30%;
  margin-left: 10px;
  font-family: monospace;
}

.target:before {
  content: "\2192";
  margin-right: 5px;
}

#advanced {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
