body {
  min-width: 1170px;
  padding: 10px;
}

body * {
  box-sizing: border-box;
}

#add-container {
  width: 38%;
  height: 200px;
  float: left;
}

#list-container {
  float: right;
  width: 60%;
}

#graph-container {
  margin-top: 20px;
  float: left;
  width: 100%;
  height: 450px;
}

.targets {
  margin-top: 30px;
}

.targets tr td:first-child {
  width: 180px;
}

.targets tr td:nth-child(2) {
  font-family: monospace;
}

.graph {
  opacity: 0;
  -webkit-transition: all 0.5s;
}

#query {
  width: 100%;
  height: 150px;
  font-family: monospace;
}

#buttons {
  float: right;
}
